.Help .HelpOne p,
.Help .HelpOne p b,
.Help span.pinkColor,
.Help .HelpTwo ul li{
	font-size: 1.6rem;
}
.Help h4,
.Help b{
  	font-family: RobotoBold;

}
.Help .modal-dialog{
	position: fixed;
	top:0;
	width: 350px;
	height: 100%;
	right: 0;
	margin: 0;
	transform: none !important;
	color: #4d4e4e;
}
.Help .modal-content{
	border-radius: 0;
	height: 100%;
	border:none;
	overflow: auto;
}
.Help .modal-header{
	display: block;
	position: relative;
	padding: 15px 30px;
}
.Help .modal-header h4{
	width: 100%;
	text-align: center;
	font-size: 2rem;
  	margin: 4% 0;
}
.Help .modal-header span{
	float: right;
    font-size: 2.5rem;
    line-height: 0px;
    font-family: none;
    margin: 2px -20px;
}
.Help .modal-header p.return{
	position: absolute;
	top:50%;
	left: 20px;
	transform: translate(0,-50%);
	width: 0px;
	height: 0px;
	border: 10px solid transparent;
	border-right: 15px solid #f6416c;
}
.Help .modal-body{
	text-align: left;
	padding: 15px 30px;
}
.Help .modal-body .box1{
	position: relative;
  	margin: 5% 0 8%;
}
.Help .modal-body .box1 span{
	position: absolute;
	color: #f6416c;
	top:50%;
	transform: translate(0,-50%);
	font-size: 1.8rem;
}
.Help .modal-body .box1 input{
	width: 100%;
	padding:3% 0% 3% 15%;
	font-size: 1.4rem;
	border:1px solid #c2c2c2;
}
.Help .modal-body>h4{
	font-size: 1.8rem;
}
.Help .modal-body ul.helpList{
	width: 100%;
	text-align: left;
	float: none !important;
}
.Help .modal-body ul.helpList li{
	position: relative;
	width: 100%;
	margin: 0;
	padding: 5% 0;
	border-bottom:1px solid #c2c2c2;
	text-align: left;
	font-size: 1.6rem;
}
.Help .modal-body ul.helpList li:hover{
	background: rgb(242, 242, 242);
}
.Help .modal-body ul.helpList li>span{
	color: #f6416c;
	font-size: 2rem;
	position: absolute;
	top:50%;
	right: 0;
	transform: translate(0,-50%);
}
.Help .modal-body ul.helpList li:last-child{
	border-bottom:none;
}
/*Reservation requests*/
.Help .modal-body ul.helpList .box2{
	height:auto;
}
.Help .modal-body ul.helpList .box2>p{
	margin: 5% 0;
	font-size: 1.6rem;
}
.Help .modal-body ul.helpList .box2>p:hover{
	color: #f6416c;
}
.Help .modal-body ul.helpList .boxactive{
	overflow: hidden;
	height: 0px;
}

/*ReservationRequests start*/
.Help .modal-body h4{
	font-size: 2.2rem;
}
.Help .modal-body p{
	font-size: 1.6rem;
  	font-family: RobotoThin; 
  	line-height: 1.5;
}
.Help span.pinkColor,
.Help .HelpEight span.pinkColor{
	font-size: 1.6rem;
	cursor: pointer;
	border-bottom: 1px solid #f6416c;
}
.Help .HelpTwo ul,
.Help .HelpFour ul,
.Help .HelpEight ul,
.Help .HelpTen ul{
	width: 100%;
	text-align: left;
	margin: 10px 0 15px;
}
.Help .HelpTwo ul li,
.Help .HelpFour ul li,
.Help .HelpEight ul li,
.Help .HelpTen ul li{
	width: 100%;
	margin-left: 0px;
	text-align: left;
	margin-bottom: 5px;
	font-size: 1.6rem;
	line-height: 1.5;
}
.Help .HelpTwo ul li p,
.Help .HelpEight ul li p,
.Help .HelpTen ul.ultwo li p{
	display: inline-block;
	width: 14px;
	height: 14px;
	border:1px solid #f6416c;
	border-radius: 50%;
	position: relative;
	margin-bottom: 0px;
}
.Help .HelpTwo ul li p span,
.Help .HelpEight ul li p span,
.Help .HelpTen ul.ultwo li p span{
	display: inline-block;
	width: 9px;
	height: 9px;
	background: #f6416c;
	border-radius: 50%;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.Help .HelpFour ul li p,
.Help .HelpTen ul.ulone li p,
.Help .HelpTen ul.ultwo li div{
	float: right;
	width: 95%;
}
.Help .HelpTwo ul li div,
.Help .HelpEight ul li div,
.Help .HelpTen ul.ultwo li div{
	float: right;
	width: 93%;
}
.Help .HelpTen p img{
	width: 10px;
}
.Help .HelpTwo ul li div h6{
	font-size: 1.6rem;
	margin: 0 0 6px;
}
/*ReservationRequests end*/

.Help .modal-footer{
	display: block;
	padding: 15px 30px;
}
.Help .modal-footer button{
	background:#f6416c;
	border:#f6416c;
	color: #fff;
	border-radius: 0;
}
.Help .modal-footer p,
.Help .modal-footer button{
	width: 100%;
}
.Help .modal-footer p{
	margin: 5% 0 0;
	text-align: center;
}
