@media screen and (max-width: 1200px){
	/*header  start*/
	body{
		width: 100%;
	}
	.navbar-collapse ul{
	    width: 90%;
	}
	.tag-header ul{
		width: 100%;
		max-width: 100%;
	}
	.tag-header .tag__item{
		width: 24.2%;
		margin: 1% 1% 1% 0;
	}
	.tag-header .tag__item:first-child{
		border:1px solid #f6416c;
	}
	.tag-header .tag__item:nth-child(4n){
		margin-right: 0;
	}
	/*header  end*/
	.rightbox{
		padding:0;
	}
	.rightbox>div{
		margin: 0 ;
	}
	.Step1_8 .divinput, .Step2_3 .divinput, .Step3_1 .divinput, .Step3_2 .divinput, .Step3_2 .check1 .divinput, .Step3_5 .check .divinput, .Step3_21 .divinput{
		width: 92%;
	}
	.Step1_10 .Shopitem>div>span.right{
		width: 55%;
		font-size: 1.4rem;
	}
	.form .container > .row{
		padding: 2% 0;
	}
	.form form{
		padding-top: 2%;
	}
	.index_box>div{
		margin-bottom: 1%;
	}
	.form .index_content, .form .index_home{
		width: 85%;
	}
	/*listing-card  start*/
	.listing-card .photo{
		min-height: 200px;
	}
	/*listing-card  end*/

	/*listing-experiences  start*/
	.experience .content, 
	.experienceintro_content .contentbox6 .box1 .content{
		width: 86%;
		margin: 0 7%;
	}
	.experienceintro_content .contentbox>p{
		padding: 0 2% !important;
	}
	.experienceintro_content .contentbox3>.box1 .text1{
		padding: 3% 10% 0!important;
	}
	.experienceintro_content .contentbox3>.box2 .lists>div{
		height: 260px;
	}
	/*listing-experiences  end*/
}

@media screen and (max-width: 992px){
	/*header  start*/
	.header{
		padding: 4% 0% 4% 3%;
	}
	header li.Li1,
	header li.Li2{
	  	width: 28%;
	}
	.tag-header .tag__item{
		padding: 2px 0;
	}
	.tag-header .tag__item span{
		font-size: 1.4rem;
	}
	/*header  end*/

	/*home  start*/
	.form .container{
		width:85%;
	}
	.form .container span.color-pink, .form .container h4{
		margin: 2% 0 ;
		font-size: 1.8rem;
	}
	.form .container h1{
		font-size: 4rem;
	}
	.index_content .DateInput_input, .index_content .guestsnum input{
		width: 150px;
	}
	/*home  end*/

	/*becomehost  start*/
	.becomehost-1.container{
		padding: 0 5%;
	}
	
	.col-md-12.col-lg-6.Step1_6box.right,
	.Step1_6 .Step1_6box .col-lg-6,
	.Step1_6 .Stepbox>div{
	  padding: 0%;
	}	
	.Step1_8 .divinput, .Step2_3 .divinput, .Step3_1 .divinput, .Step3_2 .divinput, .Step3_2 .check1 .divinput, .Step3_5 .check .divinput, .Step3_21 .divinput{
		width: 90%;
	}
	.Step1_8 .control-group label,
	.Step1_8 .Stepbox input{
		width: 50%;
	}
	.Step1_8 .Stepbox input{
		height: 30px;
	}
	.Step1_10 .Shopitem>div>span{
		font-size: 1.4rem;
	}
	/*becomehost  end*/

	/*footer  start*/
	.footer__brand-info{
    	width: 90% !important;
		margin:3% 5%;
	}
	.footer__social-info{
		padding: 2% 5% 1%;
	}
	/*footer  end*/

	/*info  start*/
	.GuestManagment th, 
	.HostManagment th{
		font-size: 1.4rem !important;
	}
	.GuestManagment td, 
	.HostManagment td,
	.GuestManagment td span,
	.GuestManagment td a{
		font-size: 1.2rem !important;
	}
	/*info  end*/

	/*listing-experiences  start*/
	.experienceintro_content .contentbox>p{
		padding: 0 2% !important;
	}
	.experienceintro_content .contentbox>h3, 
	.experienceintro_content .contentbox1>h3{
		top:10%;
		right: 50%  !important;
	}
	.experienceintro_content .contentbox>p{
		position: inherit !important;
		line-height: 1.6;
		margin-top: 3%;
		font-size: 1.6rem!important;
	}
	.experienceintro_content .contentbox1>div .text1,
	.experienceintro_content .contentbox3>.box1 .text1,
	.experienceintro_content .contentbox1>div .text2, 
	.experienceintro_content .contentbox1>div .text3, 
	.experienceintro_content .contentbox3>.box1 .text2, 
	.experienceintro_content .contentbox3>.box1 .text3,
	.experienceintro_content .contentbox1>div .text4{
		font-size: 1.6rem!important;
	}
	.experienceintro_content .contentbox3>.box2 .lists>div{
		height: 180px;
	}
	/*listing-experiences  end*/
}

@media screen and (max-width: 768px){
	/*header  start*/
	header .navBtn{
	    position: absolute;
	    top: 50%;
	    right: 5%;
	    transform: translate(0%,-50%);
	    font-size: 3rem;
	    color: #d9534f;
	    border: 1px solid #d9534f;
	    width: 40px;
	    text-align: center;
	    height: 40px;
	    cursor: pointer;
	    line-height: 37px;
	    display: block;
  	}
  	.header{
    	padding:0 !important;
  	}
  	header ul{
  		margin:0;
  	}
  	header li{
  		padding: 2% 0;
  	}
  	header li.Li3>a, header li.Li4>a{
  		padding: 0;
  	}
  	header li.Li5{
		margin-left: 0;
	}
  	.navbar-nav{
	    width: 100%;
	    margin: 0;
  	}
  	.navbar-header{
  		height: 60px;
	    padding: 0 2%;
	    border-bottom: 1px solid #c5c5c5;
	    display: block !important;
	    position: relative;
  	}
  	.navbar-nav>a{
	    display: inline-block;
	    float: left;
  	}
  	.header__logo{
    	width: 35px !important;
  	}
  	.navbar-nav ul{
    	padding: 0;
    	width: 100% !important;
	}
	.navbar-collapse{
    	border-bottom: 1px solid #c5c5c5;
  	}
  	header li.Li1, header li.Li2, header li.Li5,header li.Li3, header li.Li4{
	    width: 100%;
	    border-top: 1px solid #c5c5c5;
  	}
  	header li.Li1 .button__fill,header li.Li2 .button__fill{
  		background: none;
  		color: #151b4e;
  		padding: 0;
  	}
  	header li.Li3{
  		margin-left: 0;
  	}
  	header li.Li5 button{
  		border: none;
  		padding: 0 8%;
  	}
  	.tag-header .tag__item{
  		width: 49%;
  	}
  	.form .container > .row li{
  		text-align: center;
  	}
  	.navbar-nav .navbar-collapse .navbar-brand{
    	display: none !important;
  	}
  	.navbar-nav li:first-child{
    	border-top: none;
  	}
  	.button__fill{
    	background-color: #fff !important;
  	}
  	.float-right{
    	float: none !important;
  	}
  	.navbar-brand{
  		padding: 1.5% 3%;
  	}
  	.navbar-nav li a,.navbar-nav li button{
  		font-weight: 100;
    	font-size: 1.8rem;
    	font-family: FiraSansBlack; 
  	}
  	.navbar-collapse.collapse{
    	display: none;
  	}
  	.container{
  		max-width:100%;
  	}
  	.index_content .search{
  		width: 50%;
  		padding: 0 ;
  		margin:3% 25% 0;
  	}
	/*header  end*/

	/*home  start*/
	.form .container h1{
		font-size: 3rem;
	}
	.footer_ul{
		margin-left:0px;
	}
	.footer__dropdown{
		width: 50%;
	}
	.form .container{
		background:none;
		padding:3% 0;
	}
	.form label{
		width: 50%;
	}
	.form label.Right,
	.index_content .guestsnum:last-child{
		padding-left:4%;
	}
	.index_content .DateInput{
		width: 46%;
	}
	.index_content .DateInput_input, .index_content .guestsnum input{
		width: 100%;
	}
	.index_box,
	.index_box>div{
		padding: 0;
		float: left;
	}
	.index_content .guestsnum .form-group{
	  width: 92%;
	}
	.index_content .form__search,
	.index_content .guestsnum:last-child .form-group{
		width: 100%;
	}
	.index_foot ul .litext1,
	.index_foot ul li{
		font-size: 1.6rem;
	}
	.index_foot{
		margin: 5% 0;
		padding: 0;
	}
	.index_foot ul .liimg{
		width: 8%;
	}
	.index_foot ul .liimg img{
		top:0;
	}
	.form .index_home h2{
		font-size: 2rem;
		margin:0 0 5%;
	}
	.form .form__location img{
		width: 80%;
    	margin: 0 10% 7%;
	}
	.form .DateRangePicker_picker{
		width: 333px;
		overflow: hidden;
	}
	.form .index_home .listing-card:nth-child(even){
	  padding-right: 0;
	  padding-left: 15px;
	}
	.form .index_home .listing-card:nth-child(odd){
	  padding-left: 0;
	  padding-right: 15px;
	}
	/*home  end*/

	/*detail start*/
	.carousel-inner{
		height: 300px;
	}
	.L_box1 .text2{
		font-size: 2rem;
		margin-bottom: 3%;
	}
	.detail-content .col-lg-5{
		width: 90%;
		margin:0 5%;
	}
	.detail-content {
	    padding: 5% 0;
	}
	.slider .slider-list{
	    width: auto;
	}
	.L_TEXT1{
	    padding:0 5% 5%;
	}
	.L_box1{
	    display: none;
	}
	.L_box1 .box1_list{
		padding-left: 7%;		
	}
	.L_box1_1{
	    display: block;
	    margin-top: 5%;
	}
	.L_box2 .BOX__logo {
	    width: 100px;
	    height: 100px;
	}
	.L_box2 h4{
	    font-size: 3rem;
	    margin-top: 3%;
	}
	.L_box2 img{
	    width: 30%;
	}
	.L_box3 p,
	.L_box5 p, 
	.L_box6 p,
	.L_box6 p span,
	.ReviewsGuest li .GuestDiv,
	.neighbourhood ul li
	{
		font-size: 1.5rem;
	}
	.L_box1_1>p,.box6_More{
	    text-align: center !important;
	    border-bottom: none;
	}
	.L_box1_1,.L_box3,.L_box4,.L_box5,.L_box6,.Reviews,.ReviewsDiv,.ReviewsGuest,.neighbourhood{
	    padding:0 5% 4%;
	}
	.box1_list p{
	    width: 40% !important;
	}
	.More{
	    text-align: right;
	    padding-right: 5%;
	}
	.L_box4 img{
	    width: 100%;
	}
	.detail-guest-div p{
	    width: 20%;
	}
	.detail-guest-div .btn-group{
	    width: 80%;
	}
	.DayPicker,.DayPicker>div>div{
	    width: 350px !important;
	}
	.DayPicker_transitionContainer{
	    width: 100% !important;
	    height: 300px !important;
	}
	.L_box3 p,
	.Reviews>p, .Reviews>div{
	    width: 50%;
	}
	.Reviews,
	.ReviewsDiv{
		padding-top:3%;	
	}
	.ReviewsDiv li .divxx{
		margin:0;
	}
	.ReviewsDiv .divxx img{
		width: 15px;
	}
	.ReviewsDiv li p{
		font-size: 1.2rem;
	}
	.Reviews>p, .neighbourhood>p{
	    font-size: 2.4rem;
	}
	.Reviews .divxx{
	    text-align: right;
	}
	.Reviews .input-group{
	    width: 100%;
	}
	.detail-content .col-lg-7,
	.detail-content .col-lg-5{
		padding: 0;
	}
	.video{
		width: 100%;
		bottom: 0;
		right: 0;
	}
	.video h4{
		padding: 0 2%;
	}
	.video .videobtn{
		padding: 2%;
	}
	/*detail end*/

	/*listings-grid start*/
	.listings-grid{
		margin: 0 5% 10%;
	}
	.listings-grid h1{
		font-size: 2.6rem;
	}
	.tag-header .tag__item.active{
		background: none;
		border:1px solid #f6416c;
		color: #f6416c;
	}
	.tag-header .tag__item.active span{
		color: #f6416c;
	}
	/*listings-grid end*/

	/*becomehost  start*/
	.becomehost-1.container .STEPhead{
		margin-top: 5%;
	}
	.container>div>div.row>div.col-lg-7{
		padding: 0;
	}
	.Step1_1 .rightimg{
		position: static; 
		width: 100%;
		margin-top: 0;
	}
	.Step1_1 .form-group button, 
	.Step1_1 .form-control{
		width: 100% !important;
	}
	.Step1_1 .stepfoot h4 span{
		padding: 0 4%;
	}
	/*------------Step1_1--------------------*/
	.Step1_10 .change,
	.Step1_2 .form-group, .Step3_6 .form-group, .Step3_12 .form-group, .Step3_15 .form-group{
		width: 100%;
	}
	.Step1_2 .form-group .btn-group button, .Step1_2 .dropdown-menu, .Step3_6 .form-group .btn-group button, .Step3_6 .dropdown-menu, .Step3_12 .form-group .btn-group button, .Step3_12 .dropdown-menu, .Step3_15 .form-group .btn-group button{
		width: 100%;
	}
	/*------------Step1_2--------------------*/
	.Step1_10 .change div p{
		font-size: 1.4rem;
	}
	.Step1_10 .stepbg, .Step3_17 .stepbg, .Step3_18 .stepbg{
		width: 100%;
	}
	.Step1_10 .Shopitem>div>span.right{
		font-size: 1.3rem;
	}
	.Step1_10 .paddingNone{
		margin-bottom: 3%;
	}
	/*becomehost  end*/

	/*listing-experiences  start*/
	.experienceintro_header .navbar-brand > img{
		width: 30px !important;
	}
	.experienceintro_header .headbox h2{
		font-size: 2.4rem !important;
	}
	.experienceintro_header .headbox p,
	.experienceintro_header .headbox button.btn1, 
	.experienceintro_header .headbox button.btn1 a,
	.experienceintro_header .headbox button.btn2, 
	.experienceintro_header .headbox button.btn2 a{
		font-size: 1.4rem!important;
	}
	.experienceintro_header .headbox button{
		width: 40%!important;
	}
	.experienceintro_header{
		overflow: hidden;
	}
	.experienceintro_header>img{
		width: 140%;
		margin-left: -20%;	
	}
	.experience .content, 
	.experienceintro_content .contentbox6 .box1 .content{
		width: 70%;
    	margin: 0 16%;
	}
	.experience .pre, 
	.experience .next, 
	.experienceintro_content .contentbox6 .box1 .pre, 
	.experienceintro_content .contentbox6 .box1 .next{
		width: 22px;
	}
	.experienceintro_content .contentbox>h3, 
	.experienceintro_content .contentbox1>h3{
		top:10%;
		right: 50%  !important;
		font-size: 2.2rem !important;
	}
	.experienceintro_content .contentbox>p{
		padding: 0 5% !important;
	}
	.experience .content .lists, 
	.experienceintro_content .contentbox6 .box1 .content .lists{
	}
	.experiences_ul li{
		width: 30%;
		margin:1% 1.6%;
	}
	.userbtn>div{
	    display: inline-block;
	    margin: 0 2% 0 0;
	}
	.experienceintro_content .contentbox1>div .text1,
	.experienceintro_content .contentbox3>.box1 .text1,
	.experienceintro_content .contentbox3>.box2 .lists>p{
		font-size: 1.6rem !important;
	}
	.experienceintro_content .contentbox1>div .text1, 
	.experienceintro_content .contentbox3>.box1 .text1{
		padding: 9% 10% 2%!important;
		margin: 0!important;
	}
	.experienceintro_content .contentbox1>div .text2, 
	.experienceintro_content .contentbox1>div .text3, 
	.experienceintro_content .contentbox3>.box1 .text2, 
	.experienceintro_content .contentbox3>.box1 .text3{
		margin: 5% auto !important;
	}
	.experienceintro_content .contentbox1>div ul, .experienceintro_content .contentbox3>.box1 ul{
		margin-bottom: 0 !important;
	}
	.experienceintro_content .contentbox1>img{
		width: 100%!important;
		height: auto !important;
		position: initial !important;
		margin-top: -50% !important;
	}
	.experienceintro_content .contentbox1>h3{
		width: 50% !important;
		top:auto !important;
		left: 10% !important;
		bottom: 10% !important;
		font-size: 2.2rem  !important;
	}
	.experienceintro_content .contentbox2>h3{
		font-size: 2.2rem  !important;
	}
	.experienceintro_content .contentbox2>p, 
	.experienceintro_content .contentbox5 ul li p{
		width: 90%!important;
	}
	.experienceintro_content .contentbox3>.box1 .text1{
		padding: 0% 10% 0%!important;
	}
	.experienceintro_content .contentbox3>.box1{
		width: 90%!important;
	    left: 40%!important;	
	}
	.experienceintro_content .contentbox1>div .text1 span, 
	.experienceintro_content .contentbox3>.box1 span{
		font-size: 5rem!important;
	}
	.experienceintro_content .contentbox3>.box1 .text2, 
	.experienceintro_content .contentbox3>.box1 .text3{
		margin: 1% auto !important;
	}
	.experienceintro_content .contentbox3>img{
		width: 100%!important;
		height:auto!important;
	}
	.experienceintro_content .contentbox3>.box2{
		margin: 5% 0% 0 !important;
	}
	.experienceintro_content .contentbox3>.box2 .lists{
		padding: 0 5px;
	}

	/*listing-experiences  end*/

	/*info  start*/
	.userBox img{	
		position: initial;
	}
	.userBox .col-lg-7{
		width: 100%;
		margin: 0;
	}
	.userBox .col-lg-7>div{
		text-align: center;
	}
	.userbtn>div{
		width: 48% !important;
	}
	.userbtn>div>button{
		width: 100%!important;
	}
	.GuestManagment td button{
		padding: 6px;
		height: 15px;
	}
	.GuestManagment, 
	.HostManagment{
		width: 100%!important;
		margin-left: 0!important;
	}
	.GuestManagment th, .HostManagment th{
		font-size: 1.2rem !important;
	}
	.GuestManagment th:last-child,
	.GuestManagment td:last-child{
		display: none;
	}
	.GuestManagment td, .HostManagment td, .GuestManagment td span, .GuestManagment td a,.GuestManagment td p{
		font-size: 1rem !important;
	}
	.HostManagment h1{
		margin-left: 5% !important;
	}
	.GuestManagment td p{
		width: 50px!important;
	}
	/*info  end*/

	/*modal*/
	.Signup,
	.modalcode,
	.PirvateKey,
	.Create,
	.Create1,
	.clear,
	.Gas,
	.Explainwhy,
	.Import,
	.deposit,
	.withdraw{
		width: 90% !important;
		padding: 3% !important;
		border-radius: 8px !important;
	}
	/*modal*/

	/**/
	.footer__dropdown .btn-group{
		width: 150px;
	}
	.footer__dropdown .btn-group .dropdown-menu li a{
		padding: 5% 10%
	}
	.footer__dropdown .btn-group .dropdown-menu li a img{
		margin: 1.5% 15% 0 0;
	}
	.footer__copyright{
		font-size: 1.2rem;
	}
	.footer .social li .social__icon{
		width: 20px;
	}
	/**/
}

@media screen and (max-width: 500px){
	/*home start*/
	.form .index_home .listing-card{
		padding: 0 !important;
	}
	/*home end*/

	/*experience start*/
	.experienceintro_content .contentbox3>.box1{
		top:22% !important;
	}
	.experienceintro_content .contentbox3>.box2 .lists>div{
		height: 150px!important;
	}
	/*experience end*/
}