.Signup,
.modalcode,
.PirvateKey,
.Create,
.Create1,
.clear,
.Gas,
.Explainwhy,
.Import,
.deposit,
.withdraw,
.Sign,
.submit{
  width: 410px;
  background: #fff;
  border-radius: 7px;
  padding:2%;
  position: absolute;
  top:50% !important;
  left: 50% !important;
  right: auto !important;
  bottom: auto !important;
  border-radius: 20px;
  transform: translate(-50%,-50%) !important;
  border-radius: 25px !important;
}
.info h1,
.HostManagment h1{
  border-left:2px solid #f6416c; 
  padding-left: 2%;
  margin-bottom: 2%;
  margin-left: 5%;
  font-size: 2.2rem;
}
.userBox{
  background: #151b4e;
  color: #fff;
  padding:4% 5%;
  margin:0 0 4%;
  overflow: hidden;
}
.userBox h1{
  margin-left: 0% !important;
  font-size: 3.4rem !important;
  margin-top: 0;
}
.userBox img{
  height: 100%;
  width: auto;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.userBox .userPhoto{
  width: auto;
  height: 215px;
  position: relative;
  overflow: hidden;
}
.userBox .userPhoto:hover p{
  display: block;
}
.userBox .userPhoto input{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
  cursor: pointer;
  z-index: 99;
  opacity: 0;
}
.userBox .userPhoto p{
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  position: absolute;
  top:0;
  left: 0;
  cursor: pointer;
  text-align: center;
  display: none;
}
.userBox .userPhoto p span{
  width: 70%;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 2rem;
}
.userBox .userlist{
  font-family: RobotoThin; 
  font-size: 1.4rem;
  margin: 1% 0 0 1%;
}
.userBox .userlist>div{
  padding: 2% 0;
}
.userBox span{
  font-family: RobotoBold; 
  font-size: 1.6rem;
  margin-right: 2%;
}
.userBox p{
  display: inline-block;
}
.GuestManagment h1,
.HostManagment h1{
  margin-left: -2%;
}
.GuestManagment,
.HostManagment{
  width: 86%;
  margin-left: 7%;
  margin-bottom: 4%;
  position: relative;
}
.overflowAuto{
  max-height: 500px;
  overflow: auto;
}
.GuestManagment th,
.HostManagment th{
  border-top: 1px solid #151b4e !important;
  border-bottom: 1px solid #151b4e !important;
  font-family: RobotoBold; 
  font-size: 1.6rem;
  padding: 1.5% 0 !important;
  width: 15%;
  text-align:center;
}
.GuestManagment td,
.HostManagment td{
  width: 15%;
  text-align:center;
  color: #999;
  font-family: RobotoThin; 
  padding: 1% 0 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.6rem;
}
.GuestManagment td button{
  background: #fff;
  border:1px solid #f6416c;
  color:#f6416c;
  line-height: 0;
  height: 30px;
}
.GuestManagment td button:hover{
  border:1px solid #f6416c;
  color:#fff;
  background: #f6416c;
}
.GuestManagment td p{
  width: 100px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  margin: 0 auto;
}
.GuestManagment td span,
.GuestManagment td a{
  font-size: 1.6rem;
}
.GuestManagment tr,
.HostManagment tr{
  border-bottom: 1px solid #aaa !important;
}
.userbtn>div{
  padding-bottom: 9.5%;
}
.userbtn>div:last-child{
  padding-bottom: 0;
}
.userbtn>div>button{
  background: none;
  border:1px solid #f6416c;
  width: 100px;
  border-radius: 0;
  font-family: RobotoThin; 
}
.userbtn>div>button:hover{
  background: #f6416c;
  color: #fff;
}
.Create h2,
.Create1 h2,
.PirvateKey h2,
.clear h2,
.Gas h2,
.Import h2,
.deposit h2,
.withdraw h2,
.Sign h2,
.submit h2{
  color: #f6416c !important;
  text-align: center;
  font-family: RobotoBold; 
  font-size: 2.2rem;
  margin: 0 0 3%;
}
.submit span.glyphicon-refresh{
  font-size: 2rem;
  margin-left: 2%;
  animation:refresh 1s infinite;
  -webkit-animation:refresh 1s infinite; /* Safari 和 Chrome */
}
@keyframes refresh{
0% {transform: rotate(0deg);}
100% {transform: rotate(360deg);}
}
.clear>div h3,
.PirvateKey>div h3,
.Gas>.form-group>label,
.deposit>.form-group>label,
.Sign>.form-group>label,
.Create h3,
.Import>.form-group>label{
  margin:2% 0;
  display: inline-block;
  font-size: 1.8rem;
  line-height: 1.4;
}
.clear>div,
.PirvateKey>div,
.Create1>div,
.Import>div{
  padding:0 3%;
  margin: 0 auto;
  overflow: hidden;
}
.clear>div .text1,
.PirvateKey>div .text1,
.Create1>div .text1{
  font-family: RobotoThin; 
  display: inline-block;
  word-break: break-all;
  font-size: 1.6rem;
  cursor: pointer;
  border:none;
  background: none;
  outline:none;
  margin: 0;
}
.clear button,
.PirvateKey button,
.Gas button,
.deposit button,
.Sign button,
.Create button,
.Create1 button,
.Import button,
.withdraw button{
  width: 30%;
  padding: 1% 0;
  margin: 6% 5% 0;
  font-size: 1.8rem;
  font-family: RobotoBold; 
  border:1px solid #f6416c;
}
.clear button.Left,
.Gas button.Left,
.deposit button.Left,
.Sign button.Left,
.Import button.Left,
.withdraw button.Left{
  color:#f6416c;
  background: #fff;
}
.clear button.Right,
.Gas button.Right,
.deposit button.Right,
.PirvateKey button,
.Create1 button,
.Sign button.Right,
.Create button,
.Import button.Right,
.withdraw button.Right{
  background:#f6416c;
  color: #fff;
}
.clear button:hover,
.PirvateKey button:hover{
  background:#f6416c;
  color: #fff;
  border:1px solid #f6416c;
}
.Create button,
.Create1 button,
.PirvateKey button{
  width: 100%;
  margin:6% 0 0;
}
.Gas>.form-group>input,
.deposit>.form-group>input,
.Sign>.form-group>input,
.Import>.form-group>input,
.withdraw .submitbox input{
  border:1px solid #f6416c;
  height: 35px;
  font-size: 1.6rem;
  font-family: RobotoThin; 
  margin-bottom:0%; 
}
.deposit .text2{
  font-family: RobotoBold; 
  font-size: 1.8rem;
  text-align: center;
}

.ReactModal__Overlay{
 background: rgba(179, 54, 99, 0.9) !important;
 z-index: 9999;
}
.Signup img.close{
  width: 15px;
  float: right;
  cursor: pointer;
}
.Signup h2{
  text-align: center;
  color: #131c4e !important;
  font-size: 2.2rem;
}
.Signup button{
  width: 80%;
  border:1px solid #ababab;
  border-radius: 6px;
  font-size: 1.6rem;
  text-align: left;
  height: 35px;
}
.Signup button span{
  float: right;
  color: #f6416c;
  font-size: 1.8rem;
}
.Signup .dropdown-menu{
  width: 80%;
  padding: 0;
  margin:0;
}
.Signup .dropdown-menu>a{
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0 5%;
  margin: 0;
  border-top: 1px solid #888;
  cursor: pointer;
  text-align: left;
  font-size: 1.6rem;
  color: #4d4e4e;
  padding: 0 8% !important;
}
.Signup .dropdown-menu a{
  font-size: 1.6rem;
  padding: 0 6%;
}
.Signup .dropdown-menu a>div>a{
  display: block;
  height: 40px;
  padding: 0;
}
.Signup input{
  height:35px;
  border:1px solid #ababab;
  border-radius: 6px;
  font-family: RobotoThin; 
}
.Signup .dropdown{
  font-size: 1.6rem;
  color: #f6416c;
}
.Signup .form-group{
  margin-bottom: 10px;
}
.Signup .form-group label{
  color: #f6416c;
  font-family: RobotoThin; 
}
.Signup #emailHelp{
  font-family: RobotoThin; 
  color: #8b8b8a !important;
}
.Signup img.closeok{
  cursor: pointer;
  width: 45%;
}
.Signup .closecancel{
  width: 50%;
  background: none !important;
  border: none !important;
  color: #131c4e;
  font-size: 1.8rem;
  margin-left: 2%;
  text-align: center;
}
.Signup .closecancel:hover{
  color: #131c4e;
}
.ReactModal__Content{
  position: fixed;
  width: 100%;
  height:100%;
  background: none !important;
  border: none !important;
  overflow: hidden !important;
  top: 0!important;
  bottom: 0!important;
  left: 0!important;
  right:0!important;
}
.Import .Left,
.Import .Right{
  width: 30%;
  border:1px solid #ababab;
  border-radius: 0;
  height:35px;
  line-height: auto;
  font-size: 1.6rem;
  padding: 0 auto!important;
}
.closeactive{
  opacity: 0.5;
}
.withdraw{
  width: 750px;
}
.withdraw .tablebox{
  max-height: 300px;
  overflow: auto;
}
.withdraw table tr{
  width: 100%;
}
.withdraw table tr,
.withdraw table th{
  text-align: center;
  font-size: 1.6rem;
}
.withdraw .submitbox{
  width: 100%;
  margin: 0;
}
.withdraw .submitbox label{
  font-size: 1.8rem;
}
.withdraw table tr td.td5{
  width: 35%;
}
.withdraw table td.td1,
.withdraw table td.td2,
.withdraw table td.td3,
.withdraw table td.td4{
  width: 20%;
  color: #999;
  font-family: RobotoThin; 
}
.withdraw table td.td2 p,
.withdraw table td.td3 p,
.withdraw table td.td4 p{
  width: 110px;
  overflow: hidden;
  font-size: 1.6rem;
  margin: 0;
}
.withdraw table td input{
  outline:none;
  border:none;
  width: 90%;
  font-size: 1.6rem;
}
.withdraw table td button{
  width:48%;
  font-size: 1.2rem;
  margin: 0;
  padding: 3% 0;
  font-family: RobotoThin; 
}
.withdraw button{
  width:35%;
  margin-top: 3%;
}